{% extends 'base.html.twig' %}

{% block title %}Welcome AssurPlus{% endblock %}

{% block body %}

<div class="d-flex flex-column align-items-center" >

  <section style="max-width: 800px;" class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <h1 class="mt-4 mb-2">Bienvenue sur Assurplus</h1>
      <p class="mb-2">Vous venez d'avoir un accident de voiture? Vous êtes assuré chez AssurPlus? Déclarez votre sinistre facilement et rapidement.</p>
    </div>
    
    <div class="d-flex flex-column justify-content-center" style="max-width: 250px;">
      <a class="btn btn-primary " type="button" href="{{ path('form_sinister')}}">Déclarer un sinistre</a>
      <a class="btn btn-light mt-4" type="button" href="{{ path('app_user_historique')}}">Votre compte</a>
    </div>
  </section>
</div>
  
{% endblock %}
