{% extends 'base.html.twig' %}

{% block title %}Welcome AssurPlus{% endblock %}

{% block body %}
<div class="container d-flex flex-column justify-content-center">
  <h1 class="mt-4 mb-2">Bienvenue sur Assurplus</h1>

  <p class="mb-2">Vous venez d'avoir un accident de voiture? Vous êtes assuré chez AssurPlus?
    Déclarez votre sinistre facilement et rapidement.
  </p>
  {# display a flash message #}

  {% for label, messages in app.flashes %}
  {% for message in messages %}
      <div class="alert alert-dismissible alert-{{ label }}">
          <p> {{ message }} </p>
      </div>
  {% endfor %}
{% endfor %}

  <a class="btn btn-primary" type="button" href="{{ path('form_sinister')}}">Déclarer un sinistre</a>
</div>
  
{% endblock %}
